<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005430108140-go3cib1n7ssebsbfb5kr2trjobs2u3li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005430108140-go3cib1n7ssebsbfb5kr2trjobs2u3li</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005430108140-dncvgtccap1cj39t6d6ar787vhee6moe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTVloYqKoDXsPyUWtKxe7z5W2dzkw_rhM</string>
	<key>GCM_SENDER_ID</key>
	<string>1005430108140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatgptapp</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-fyp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-fyp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005430108140:ios:dbbbd398a0de2fd42e9ac9</string>
	<key>DATABASE_URL</key>
	<string>https://chatgpt-fyp-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>